<!DOCTYPE HTML>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글 작성</h2>
    </div>
    <form action="/write" th:action th:object="${postDto}" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="제목을 입력하세요">
        </div>
        <input type="hidden" class="form-control" id="writer" >
        <div class="form-group">
            <label for="content">내용</label>
            <textarea rows="10" class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
        </div>
    </form>
    <button type="button" id="btn-save" class="btn btn-primary bi bi-pencil-fill"> 작성</button>
    <a href="/" role="button" class="btn btn-info bi bi-arrow-return-left"> 목록</a>
</div>
</body>
</html>
</html>