<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>BLITZ</h1>

        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/signup">회원가입</a>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/write">글 작성</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
